{% extends "OIPlatformBundle::layout.html.twig" %}

{# parent() renvoie le contenu défini au niveau du template parent #}

{% block title %} Accueil  - {{parent()}} {% endblock %}
{% block oiplatform_body %}
  <h2>Liste de annonces</h2>
  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oi_platform_view', {'id':advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date | date('d/m/Y') }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
